<footer class="footer">
  <nav class="navbar navbar-expand-sm" style="background-color: #fdded7; padding: 20px 0;">
    <div class="container-fluid">
      <div class="row w-100 text-center text-md-start align-items-center">

        <!-- Left: Name -->
        <div class="col-12 col-md-4 mb-3 mb-md-0" 
          style="color: #1f11ea; font-weight: soft; font-family: 'Jaini Purva', cursive; font-size: 20px;">
          Tiny Treasures &copy; <%= new Date().getFullYear() %>
          
             
          </div>
        </div>

        <!-- Center: Address -->
        <div class="col-12 col-md-4 mb-3 mb-md-0" style="color: #1f11ea;">
          48 Leo Street, Glen Eden, Auckland 0602
        </div>

        <!-- Right: Email -->
        <div class="col-12 col-md-4" style="color: #1f11ea;">
        <a href="mailto:tinytreasures.gleneden@gmail.com" style="color: #1f11ea;">tinytreasures.gleneden@gmail.com</a>
        </div>

      </div>
    </div>
  </nav>
</footer>
