<!-- Navigation bar with only Logout button -->
<!DOCTYPE html>
<nav class="navbar navbar-expand-sm" style="background-color: #d2ead6;">
  <div class="container-fluid d-flex align-items-center">
    <img class="img1 me-2" src="/images/logo.png" alt="Logo" style="height: 50px;">
    <h2 class="mb-0 me-auto" style="font-family: 'Jaini Purva', cursive;">Tiny Treasures</h2>
      <ul class="navbar-nav d-flex flex-row gap-2">
        <li class="nav-item">
          <a class="btn btn-outline-success" href="/">LOGOUT</a>
        </li>       
      </ul>
  </div>
</nav>

<!-- Done for now -->

