<!-- Home page -->
<html>
  <head>
    <%- include('partials/header.ejs') %>
    <title>Welcome to Tiny Treasures</title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <%- include('partials/navbar1.ejs') %>
    <div class="container flex-grow-1">
      <br />
      <h1>Welcome to Tiny Treasures</h1>
      <br />
      <img class="img" src="/images/home3.jpg" alt="Childcare" />
      <br />
      <h5 style="color: #1f11ea;">
        Childcare - Auckland's New Home-Based Early Learning Movement
      </h5>
      <p style="text-align: justify; color: #1f11ea;">
        Tiny Treasures was founded by passionate parents committed to giving our pre-schoolers the best possible start in life. We're on a mission to nurture and inspire our youngest citizens through care, curiosity, and connection.
      </p>
      <p style="text-align: justify; color: #1f11ea;">
        At Tiny Treasures, we believe every child is a unique individual, full of potential, with their own strengths and interests.  
        Our home-based early learning programme provides a warm, secure, and enriching environment where children can learn, grow, and thrive.
      </p>
      <p style="text-align: justify; color: #1f11ea;">
        We offer a variety of engaging experiences tailored to each child's developmental needs led by a team of qualified, experienced, and caring educators who share our passion for early childhood education.
      </p>
      <p style="text-align: justify; color: #1f11ea;">
        Children are encouraged to explore, imagine, and discover at their own pace, while building strong, trusting relationships with their caregivers.
      </p>
      <p style="text-align: justify; color: #1f11ea;">
        We prioritise small group settings to ensure each child receives focused attention and personalised learning. 
        Visit our <a href="/gallery">Gallery</a> to see some of our recent learning moments.
      </p>
      <p style="text-align: justify; color: #1f11ea;">
        We also work closely with families, recognising that parents are a child's first and most important teachers.
      </p>
      <p style="text-align: justify; color: #1f11ea;">
        Please <a href="/contactus">Contact us</a> to learn more about our home-based early learning programme and how we can support your child's learning and development.
      </p>
    </div>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
