
<!-- Reset Password -->
<!DOCTYPE html>
<html>
<head>
  <%- include('partials/header.ejs') %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="stylesheet" href="/public/css/styles.css"> 
</head>

<body>
  <%- include('partials/navbar1.ejs') %>

  <div class="login">
    <h1>Reset Your Password</h1>
    <br>

   <form action="/reset-password/<%= token %>" method="post">
      <div style="text-align: left; color: #1f11ea;">
        <label for="password">New Password:</label>
        <input type="password" name="password" id="password" placeholder="New Password" required 
               style="width: 250px; padding: 6px;">
        <br><br>
      </div>

      <button type="submit" class="btn btn-outline-success contact-submit-btn" 
              style="color: #1f11ea;">Save New Password</button>

      <a href="/login" class="btn btn-outline-success contact-submit-btn" 
         style="color: #1f11ea; text-decoration: none; margin-left: 10px;">Cancel</a>
    </form>
  </div>

  <div class="footer1">
    <%- include('partials/footer.ejs') %>
  </div>
</body>
</html>
